<?xml version="1.0"?>
 <robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_box">

	 <xacro:macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
      iyy="${m*(x*x+z*z)/12}" iyz = "0"
      izz="${m*(x*x+z*z)/12}"
    />
   </xacro:macro>

   <link name="object_link">
     <inertial>
    	 <origin xyz="0 0 0" rpy="0 0 0" />
       <mass value="0.05" />
       <xacro:box_inertia m="0.05" x="0.1" y="0.1" z="0.05" />
     </inertial>
     <visual>
   	 	 <origin xyz="0 0 0" rpy="0 0 0"/>
    	 <geometry>
      	 <box size="0.1 0.1 0.05" />
    	 </geometry>
     </visual>
     <collision>
   	 	 <origin xyz="0 0 0" rpy="0 0 0"/>
    	 <geometry>
      	 <box size="0.1 0.1 0.05" />
    	 </geometry>
	 	 </collision>
   </link>

   <gazebo reference="object_link">
     <material>Gazebo/Blue</material>
		 <mu1>10</mu1>
     <mu2>10</mu2>
		 <minDepth>0.003</minDepth>  
		 <maxVel>0</maxVel>
		 <kp>1000000.0</kp>
  	 <kd>1.0</kd>
   </gazebo>

 </robot>
